{% extends 'status/base.html' %}

{% block tittle %} About {% endblock tittle %} 


{% block style %}           
    <style>
        .content{
            color: #4a4a4a;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.25;
        }
        .subtitle strong{
            font-weight: 600 !important;
        }
    </style>
{% endblock style %}
{% block page_name %}About{% endblock page_name %}

{% block section %}
    <section class="section">
        <h1 class="title is-size-3">About AwwzApp Status</h1>
        <h2 class="title is-size-4">Advertising</h2>
        <p class="subtitle mt-0">
            AwwzApp Status is a platform that helps bussinesses to reach their potential
            customers by advertising on our network of <strong>Influencers status</strong>
        </p>
        <h2 class="title is-size-4 mt-0">Influencers</h2>
        <p class="content">
            Our influencers are social media users who have alot of following and high engagment rate.          
        </p>
        <h2 class="title is-size-4">Reason</h2>
        <p class="content">
            We know this because we handpicked them one by one hence we are sure your adverts are going to get
            the highest conversion rate.
        </p>
        <p class="content">
            We chose to advertise on our influencers statuses because its the place that is so close
             to the customers and when they see the adverts placed on  the status of someone they know there is a high chance of converstion.
        </p>
        <p class="content">
            Another reason, is that they get updated daily hence your advert will always apear around 
            fresh content
        </p>
        <h2 class="title is-size-4">Reach</h2>
        <p class="content">
            People who follow these influencers always check the statuses daily
             so that they don't miss any post, hence highest percentage of your advert reaching your customers
        </p>
        <p class="content">
           <strong>With higher reach there is higher coversion rate</strong>
        </p>
    </section>            
{% endblock section %}



