{% extends 'status/base.html' %}

{% block tittle %} How to make money with {% endblock tittle %} 


{% block style %}           
    <style>
        .content{
            color: #4a4a4a;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.25;
        }
        .subtitle strong{
            font-weight: 600 !important;
        }
    </style>
{% endblock style %}

{% block page_name %}Howto{% endblock page_name %}  

{% block section %}
    <section class="section">
        <h1 class="title is-size-3">How to make money with AwwzApp Status</h1>
        <h2 class="title is-size-4">What is AwwzApp Status</h2>
        <p class="subtitle mt-0">
            AwwzApp Status is a platform that helps influencers to make money from their <strong>status</strong>
        </p>
        <h2 class="title is-size-4 mt-0">It's Easy</h2>
        <p class="content">
            Its easy, simple, all you need to do is you'll be given some jobs for you to do. And the best part is that its completely free, no registration fee or referal.
        </p>
        <h2 class="title is-size-4">What Jobs</h2>
        <p class="content">
            The jobs ranges from videos, images, texts, or links, which you'll get from the job section on your porfile
        </p>
        <h2 class="title is-size-4">What To Do</h2>
        <p class="content">
            You're required to post these medias on your status and also make sure you follow the job description requirements for posting these media.
            <strong> Example you may be required to post the media and you must also tag the adverstiser on the post so must do that</strong>. After doing that, you will
             then submit feedback in form of screenshot of views with the number of views clearly visisble and a text confirmation of your views.
        </p>
        <h2 class="title is-size-4">When you'll get paid</h2>
        <p class="content">
            After you submitted the job as decribed above, your screenshot will undergo a thorough review from our team,
             then the number of views will be compared to the views you provided during the perioding account review approval then we will
              calculate how much you will earn based on the budget of the advertiser
        </p>
        <h2 class="title is-size-4">When Can I withdraw my money</h2>
        <p class="content">
            You can withdraw your money soon as the amount earned has reached the threshold, the threshold may change time to time 
            based on the job earning dificulty. 
        </p>

    </section>            
{% endblock section %}



